html,

body {
  height: 100%;
}


body {
  margin: 0;
  padding: 0;
}


* {
  box-sizing: border-box;
}


ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}


.wrapper {
  background:#bac38794;
	font-size:1.1rem;
	font-family:'Quicksand', sans-serif;
	height:100%;
}


.app {
  margin:4rem auto;
	padding:2rem 3rem 3rem;
	max-width:500px;
	background:#67a4ab;
	color:#FFF;
	box-shadow:-20px -20px 0px 0px 
    rgba(100,100,100,.1);
}


.app__title {
  text-align:center;
    font-weight:normal;
    font-size:2.6rem;
    letter-spacing:0.05em;
    border-bottom:1px solid rgba(255,255,255,0.1); 
}


.app__info {
  display: flex;
  padding: 8px 16px;
}


.app__info-item {
  display:block;
	font-size:0.8rem;
	margin-bottom: 0.7rem;
	margin-left:100px;
	margin-top:0.2rem;
}


.app__body {
/*display:flex;*/
	margin:0 -3rem 4px;
	padding:8px 16px;
	justify-content:space-between;
	align-items:center;
	background:rgba(255,255,255,0.1);
 /* background-color:#5F9EA0;*/
    opacity: 0,5;

}



.app__footer {
  background-color: #808080;
  padding: 8px 16px;
}


.app__list-item {
  align-items: center;
  display: flex;
  position: relative;
}


.app__list-item:hover {
  background-color: #D3D3D3;
}


.app__list-item:hover .app__list-remove {
  opacity: 0.5;
}


.app__list-item:hover .app__list-remove:hover {
  opacity: 0.7;
}


.app__list-item.app__list-item--done {
  background-color: #BDB76B;
}


.app__list-item.app__list-item--done .app__list-text {
  text-decoration: line-through;
}


.app__list-text {
  cursor: pointer;
  flex: 1;
  line-height: 24px;
  padding: 8px 16px;
}


.app__list-remove {
  border: 1px solid red;
  border-radius: 50%;
  cursor: pointer;
  height: 32px;
  fles-shrink: 0;
  margin-left: auto;
  margin-right: 10px;
  opacity: 0,7;
  padding: 0 8px;
  transform: rotate(45deg);
  transition: all linear 0.3s;
  width: 32px;
}


.app__list-remove:before, .app__list-remove:after {
  content: "";
  background-color: red;
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}


.app__list-remove:before {
  height: 3px;
  width: 20px;
}


.app__list-remove:after {
  height: 20px;
  width: 3px;
}


.app__task-new {
  border: 0;
  line-height: 40px;
  min-height: 30px;
  padding: 0 8px;
  width: 82%;
}


.app__info-number {
  color: red;
}


.app__info-number_done {
  color: green;
  font-family: Georgia, serif;
}


.app__info-text {
  font-family: Georgia, serif;
}  


.add-btn {
  padding: 14.5px;
  width: 16.5%;
  background:#FF6666;
  color: #555;
  float: right;
  text-align: center;
  font-size: 10px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.add-btn:hover {
    background:#FF5E5E;
}